/* HistorialHoras.css */

.mainHistoHoras {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px; /* Espacio para el navbar fijo */
    min-height: 100vh;
    background-color: #f4f4f9;
}

.cabecera-historialHoras {
    text-align: center;
    margin-bottom: 20px;
}

.cabecera-historialHoras h1 {
    margin: 10px;
    color: black;
}

.cuerpo-historial {
    width: 80%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro del contenedor */
}

.busqueda-barra-horas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.busqueda-barra-horas input[type="date"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.busqueda-barra-horas button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.busqueda-barra-horas button:hover {
    background-color: #0056b3;
}

.tabla-historial-horas {
    width: 100%;
    max-width: 1000px; /* Limita el ancho máximo de la tabla */
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

.tabla-encabezado {
    background-color: #007bff; /* Fondo azul para el encabezado */
}

.tabla-header {
    color: white; /* Texto blanco */
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-historial-horas td {
    color: black;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-fila:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo alternado para filas */
}

.error-message {
    color: red;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}
