/* MainPage.css */
.main-page {
  height: 100vh; /* Ajuste para ocupar el 100% de la vista */
  display: flex;
  flex-direction: column; /* Para alinear en columna */
  justify-content: flex-start; /* Coloca el contenido al inicio, en la parte superior */
  align-items: center; /* Centra horizontalmente */
  background-color: rgb(1, 16, 62);  
  background-size: cover; /* Cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen */
  text-align: center;
}

.encabezado {
  color:white;
  text-align: center;
  margin-top: 5%; /* Ajuste para dar algo de espacio en la parte superior */
}

.cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Añade espacio entre el encabezado y la tarjeta */
}
.cuerpo h2{
  color: rgb(0, 81, 255);
}
.cuerpo h4{
  color: rgb(38, 104, 248);
}
.cuerpo p{
  color: rgb(38, 104, 248);
}

.form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(18, 65, 3, 0.1); /* Sombra para la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  width: 300px;
  text-align: center;
}

.form h2, .form h4 {
  margin: 10px 0;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form a {
  color: rgb(0, 81, 255);
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.reservar-button {
  border: 1px solid rgb(0, 81, 255);
  background-color: transparent;
  color:rgb(0, 81, 255);
  font-size: 12px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  margin-top: 5px;
}

.reservar-button:hover {
  background-color: rgb(38, 104, 248);
  color: white;
}
