/* Register.css */
.register-page {
  min-height: 100vh; /* Asegurar que ocupe al menos la altura de la vista */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('/public/back.png');
  background-size: cover; /* Cubrir todo el contenedor */
  background-attachment: fixed; /* Asegura que el fondo se mantenga fijo */
  background-position: center;
  text-align: center;
}

.register-encabezado {
  color: white;
  text-align: center;
  margin-top: 4%;
  font-size: 2rem;
}

.register-cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.register-form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(18, 65, 3, 0.1);
  border-radius: 10px;
  width: 100%; /* Tamaño de tarjeta más reducido */
  max-width: 400px; /* Límite máximo para pantallas más grandes */
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas en el grid */
  grid-gap: 10px; /* Espacio entre los elementos */
}

.register-form h2 {
  grid-column: span 2; /* Ocupa ambas columnas */
  color: rgb(125, 6, 85);
  text-align: center;
}

.register-form p {
  margin: 0;
  color: rgb(103, 13, 214);
  font-weight: bold;
}

.register-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.register-form input:focus {
  outline: none;
  border-color: rgb(92, 27, 183); /* Cambiar color del borde en focus */
}

.register-form p, .register-form input {
  grid-column: span 1; /* Cada par de <p> y <input> ocupa una columna */
}

.register-form a {
  color: rgb(103, 13, 214);
  text-decoration: none;
}

.register-form a:hover {
  text-decoration: underline;
}

.reservar-button {
  grid-column: span 2; /* Ocupa ambas columnas */
  border: 1px solid rgb(44, 0, 106);
  background-color: transparent;
  color: rgb(92, 27, 183);
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center; /* Asegura que el texto esté centrado */
}

.reservar-button:hover {
  background-color: rgb(92, 27, 183);
  color: white;
}

.register-form p:last-of-type {
  grid-column: span 2; /* El último párrafo ocupa ambas columnas */
  text-align: center; /* Centrado */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .register-form {
    width: 100%;
    padding: 15px;
  }

  .register-encabezado {
    font-size: 1.5rem;
  }

  .reservar-button {
    font-size: 0.9rem;
  }
}
